@primaryBgColor: #e9f1f4;

@font-size: 16;
@px-em: @font-size*1em;
@px-rem: @font-size*1rem;

@plankHeight: 51/@px-rem;

@contentBgColor: #e9f1f4;

@shadowColor: #C7C7C7;

@footerShadowShift: 1/@px-rem;

@requestBubbleBgColor: beige;
@requestBubbleBorderColor: bisque;
@requestBubbleTitleColor: #6b6b6b;
@requestBubbleActionBgColor: #546e7a;
@requestBubbleActionColor: #ffffff;
@requestBubbleDescrColor: #747474;
@requestBubbleMemberColor: #969696;
@requestBubbleContinuesColor: #969696;

@DecisionInwork: #ffc30e;
@DecisionToverify: #2334ff;
@DecisionTodo: #00e8ff;

@requestOverviewBg: #FFFEFE;
@requestOverviewMaskColor: #1D0707;
@requestOverviewMaskColorAlpha: 70%;
@requestOverviewHeaderDelimiterColor: #D8CBCB;

@headerMainBgColor: #f3f3ea;
@headerMainButtonClickedColor: #9C3F38;

@chatBubbleBgColor: #d1fbf8;
@chatBubbleBorderColor: #DEDEDE;
@chatBubbleTaskBgColor: #ffffff;

@chatBubbleTitleAuthorColor: #195acc;
@chatBubbleTitleYouColor: #9C3A28;

@chatBubbleTimeColor: #949494;

@chatBubbleActionColor: #9C3A28;

@animationDuration: 200ms;

@headerShadowShift: 3/@px-rem;
@headerBgColor: #FBFBFA;
