.task {
  
  display: flex;
  background-color: beige;
  border: 1px solid bisque;
  border-radius: 3px;
  
  .task-avatar {
    width: 64/@rem;
    height: 64/@rem;
    
    img {
      border-radius: 50%;
    }
  }
  
  .task-content {
    
    .task-title {
      
    }
    
    .task-description {
      
    }
    
  }
  
  .task-number{
    border-radius: 50%;
    background-color: #199a00;
    min-width: 32/@rem;
    min-height: 32/@rem;
    font-size: 16/@rem;
    color: #ffffff;
  }
  
}